* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
}


body {
  font-family: "Montserrat", sans-serif;
}

::-moz-selection { background: #e51213; }
::selection      { background: #ff7373; }

/* Globals */

.section {
  width: 100%;
  height: 100vh;
}

.subtitle {
  font-size: 2rem;
}

.btn {
  width: 225px;
  height: 50px;
  border: none;
  border: 1px solid #e51213;
  background-color: #e51213;
  outline: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(110%);
}

.red { 
    color: #e51213;
}


/* Navigation */

.navigation__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  position: fixed;
  background: rgba(0,0,0,.5);
}

#logo img {
  width: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.nav li a {
  color: white;
  text-decoration: none;
}

.nav li:hover {
  text-decoration: underline;
}

/* Section 1 */

.section__main {
  background-image: linear-gradient(rgba(63, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../assets/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  color: white;
}

.section__main__content__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#title {
  font-size: 4rem;
  font-weight: 700;
}

#title-red {
  color: white;
  mix-blend-mode: difference;
  padding: 5px 10px;
  border-radius: 10px;
}

/* Section 2 */

.section__about { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.section__about__content__container { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__about__content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.section__about__content figure, .section__about__content img { 
    height: 650px;
}

.text__content { 
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__content p { 
    font-size: 1.2rem;
}

/* Footer */

footer { 
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(63, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("../assets/background-footer.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.footer__container { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__container p { 
    width: 700px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

